
venv/
venv3_5/

*.pyc
*.cu.o
*.so

draw_line\.jpg

kitti/*.pickle

sunrgbd/sunrgbd_data/

models/tf_ops/grouping/query_ball_point

models/tf_ops/grouping/selection_sort

sunrgbd/sunrgbd_detection/gt_boxes/

mayavi/kitti_sample_scan\.txt

train/detection_results_v1/data/

kitti/rgb_detections/rgb_detection_train\.txt

kitti/rgb_detections/rgb_detection_val\.txt

train/detection_results_v1/plot/

train/pretrained/

train/logs


models/mono\+stereo_1024x320/
